html{
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    z-index: 10;
}

header{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 2px solid #36454F;
    z-index: 50;
    position: fixed;
}

header>.left>img{
    height: 15vh;
    width: 100%;
}

header>.right{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 15vh;
    text-shadow: 1px 1px;
    font-size:x-large;
    background-color: #CCCCFF;
}

main{
    margin-top: 15vh;
    height: 85vh;
}

.info-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100%;
}

.section-container{
    height: 85vh;
    padding: 12px;
    overflow-y: auto;
    font-family: 'Times New Roman', Times, serif;
}

.section-child{
    margin: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.section-child>.heading-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:start;
    row-gap: 12px;
    margin: 0;
}

.section-child>.heading-container>h1,.section-child>.heading-container>h3{
    margin: 0;
}

.section-child>.heading-container>h3{
    color:#36454F;
}

.section-child-content>.content{
    padding: 2px 2px 2px 0px;
}

.section-child-content>.code-content{
    padding: 8px;
    background-color: #CCCCFF;
    border:#cce4ff solid 2px;
    border-radius: 8px;
}

.contents-sidebar{
    background-color: #CCCCFF;
    height: 85vh;
}

footer{
    min-height: 20vh;
    border-top:2px solid #36454F;
    background-color: #6247aa;
background-image: linear-gradient(316deg, #6247aa 0%, #a594f9 74%);
}


